<div class="app-content">
  <div class="user-profile" *ngIf="isLoggedIn">
    Hey {{user.firstName}} {{user.lastName}}! Good day ahead!
  </div>
  <div class="action-btn">
    <button class="btn btn-primary" routerLink="/users-list">Users List</button>
    <button class="btn btn-success" *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button class="btn btn-danger" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</div>
