<ng-e-page-header title="Users List"></ng-e-page-header>
<br>
<div class="container">
  <div class="row py-3" *ngIf="!userId">
    <div class="col">
      <div class="bg-warning w-100 h-100 p-2">User has no id! Please try another user!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users | async;let i = index" (click)="onUser(user)">
          <th>{{i+1}}</th>
          <th>{{user.lastName | capitalize}}</th>
          <td>{{user.lastName | capitalize}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
