<ng-e-page-header title="User details" backUrl="/users-list"></ng-e-page-header>
<br>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-sm-3">
        <img class="card-img-top rounded-0" src="{{user.picture}}" alt="User profile image">
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong class="font-weight-bold">First name:</strong>
            <span [class]="propertyColorClass">{{user.firstName | capitalize}}</span>
          </li>
          <li class="list-group-item"><strong class="font-weight-bold">First name:</strong>
            <span [class]="propertyColorClass">{{user.lastName | capitalize}}</span>
          </li>
          <li class="list-group-item"><strong class="font-weight-bold">First name:</strong>
            <span [class]="propertyColorClass">{{user.email}}</span>
          </li>
          <li class="list-group-item"><strong class="font-weight-bold">First name:</strong>
            <span [class]="propertyColorClass">{{user.phone}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
