<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand text-white pr-4" routerLink="/home"><i class="fa fa-home fa-2x"></i></a>
  <a class="text-white" *ngIf="backUrl" routerLink="{{backUrl}}" title="Go back"><i class="fa fa-arrow-left fa-2x"></i></a>
  <div class="container">
    <a class="page-title navbar-brand text-white">{{title}}</a>
  </div>
</nav>
