/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
// GLOBAL STYLES

.app-btn {
  padding: 8px 16px;
  font-size: 14px;
  background: white;
  border-radius: none;
  outline: none;
  box-shadow: none;
}

body {
  font-family: Roboto, sans-serif;
}
